@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300,900);
#lead_banner {position:relative;}

.flex_content_box{
width: 390px;
padding: 0%;
top: 105px;
/*margin: 7% 0px 380px 60%;*/
position: absolute;
text-decoration: none;
z-index: 99;
left:50px;
margin:0;
font-family: 'Roboto', sans-serif;
}


.flex-title {
    color: #000 !important;
    display: block;
    font-size: 25px;
    font-weight: bold;
    left: 0;
    letter-spacing: -1px;
    line-height: 33px;
    margin-top: 20px;
    padding-bottom: 1px;
    text-align: left;
    text-decoration: none;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    text-transform: none;
    top: 2px;
}
.flex-title span.review_red{color:#da383e; font-weight:bold;}

.flex-caption {
    color: #fff !important;
    font-size: 18px;
    left: 0;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    top: 0;
	text-shadow: 0px 0px 0px #909090 !important;
	font-weight:400;
	font-family: 'Roboto', sans-serif !important;
	  
}


.h_explore_morebtn-1 {
	color: #0173ba; 
}

.h_explore_morebtn_new {
	font-weight:bold; color: #0173ba;
	background: #ffffff;
	font-family: inherit;
	font-size:13px !important;
	color: inherit; 
	cursor: pointer;
	padding: 4px 11px;
	display: inline-block;
	margin-top:0px; 
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s; 
	border:solid 1px #0173ba;
	margin-bottom:8px; width: auto;
}


.flex_content_box.flex_content_box_center{width: 100%; text-align: center;  left: 0%;  right: 0;  bottom: 35px; top: inherit;}


/**Single Banner**/
.single_banner{ padding-top:102px;}
.single_banner_in{ position:relative; }
.single_banner_in figcaption a{ font-weight: bold; color:#0173ba; background: #ffffff; font-size: 13px; cursor: pointer; padding:5px 10px; display:inline-block;letter-spacing: 1px; outline: none; position: relative; -webkit-transition: all 0.3s;  -moz-transition: all 0.3s;  transition: all 0.3s; border: solid 1px #0173ba; margin-bottom: 8px; width:auto; text-align:center; margin:0;}

.single_banner_mobile .single_banner_in figcaption{ position:relative; background:#fff; padding:20px; color:#333; border: solid 1px #f1f1f1;}
.single_banner_mobile .single_banner_in figcaption h3{ margin:0 0 10px; color:#333;}
.single_banner_mobile .single_banner_in figcaption img{ float:left; margin:0 15px 10px 0;}

.single_banner_desktop figcaption{ position:absolute; right:60px; top:50%; background:#000; left:inherit; max-width:320px; display:table !important; -moz-transform:translateY(-50%); -webkit-transform:translateY(-50%);-ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); background:transparent;}
.single_banner_desktop figcaption .figcaption_in{ display:table-cell; vertical-align:middle;}
.single_banner_desktop .single_banner_in figcaption{ font-family:Arial, Helvetica, sans-serif; padding:0;}
.single_banner_desktop .single_banner_in figcaption h3{color:#011d32; font-size:25px; line-height:28px; font-weight:600; margin:0 0 15px;}
.single_banner_desktop .single_banner_in figcaption p{color:#646e77; font-size:18px; line-height:24px;}

.h_explore_morebtn_new_round{border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; width: 60px; text-align: center; line-height: 20px;}

.lead_rounded_btn{ border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; font-size:15px !important; padding:5px 20px;}


@media all and (max-width:1190px){
	.single_banner{ padding-top:0px;}
 .single_banner_desktop figcaption{ max-width:235px; right:30px;}
}



@media (max-width: 1024px) { 
.flex_content_box { width:312px; top:10px; left:45px;}
.flex-caption{font-size:16px; line-height:20px;}
.flex-title{ font-size:20px; line-height: 26px;}
}


@media (min-width: 768px) and (max-width: 979px) {
.h_explore_morebtn_new{ margin-bottom:2px; font-size:12px;}
.flex_content_box {
    width: 260px;
    margin-left: 60%;
    top: 0px;
}
}



@media (max-width: 768px) { 
.flex-title{ font-size:20px; margin-top:20px; margin-top:2%; padding-right:0px;}
.flex_content_box { width:310px;  margin-left: 0%; top:10px; left:30px;}
.flex-caption{font-size:13px; line-height:normal;}

}


/* SMALL MOBILE */
@media (max-width: 767px) 
{
.flex_content_box { top:0px; bottom:0px; left:0px;}	

.flex_content_box,.flex_content_box1,.flex_content_box2,.flex_content_box3,.flex_content_box4,.flex_content_box5,.flex_content_box6{width:auto;padding:1%;margin:0 0 1px;position:relative;background:#333333;}

.flex-title{left:0;top:0;color:#fff!important;text-align:left;text-shadow:1px 1px 1px rgba(0,0,0,.3);font-size:18px !important;font-weight:700;display:block;padding-bottom:1px;line-height:18px;letter-spacing:0}

.flex-caption{left:0;top:0;color:#fff!important;text-align:left;text-shadow:1px 1px 1px rgba(0,0,0,.3);font-size:13px;line-height:15px}

h4.flex-title {
    margin: 0px;
    padding-bottom: 8px;
	line-height:24px;
}
	
}