body{
	margin:0;
	padding:0;

}

/** Change_from Inline-block to block **/
.menu ul li a {
    display: block;
}
/** Change_from Inline-block to block **/

.dropdown_menu_main{
	background:#777777;
	background:rgba(119, 119, 119, 0.97) none repeat scroll 0% 0%;
	width:100%;
	border-bottom:#d8d8da solid 5px;
	padding:0;
	position:absolute;
	left:0;
	overflow:hidden;
	box-shadow:0 4px 5px -1px #636466;
	-moz-box-shadow:0 4px 5px -1px #636466;
	-webkit-box-shadow:0 4px 5px -1px #636466;
	z-index:99999;
}


.less_effect{


	margin:8px 0px;
    border-width: 1px 0px;
    border-style: solid ;
	
    border-color: rgba(153, 153, 153, 0.48) -moz-use-text-color rgba(29, 29, 29, 0);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
	border: 0;
	border-top: 1px solid #979797;
  
    border-top: 1px solid rgba(153, 153, 153, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}


/** New Css added for correction **/

.nav_artical_image{
max-width:100% !important;
}

.new_nav_button{
text-transform:none !important;

}


/*******************
:::::::::::::::::::::::::::::::
Sustainability :::::::***/

.grid-unit_sustainability_last{
   width:20%;
	clear:none;
	float:left;
	padding:2.5% 0% 0 5%

}

.grid-sustainability_image{

    width: 45%;
    clear: none;
    float: left;
    padding: 2.5% 3%;

}

.Info_matter{

margin-bottom:0px;
font-size:13px;
line-height:18px;
color:#fff;
}

.articlal_sustainability{
background:#849f36;
overflow:hidden;
display:block;
line-height:0px;
}

.image_conatiner_sustainability{
width:50%;
float:left;

}

.info_conatiner_sustainability{
width:46%;
float:left;
padding:2%;
color:#fff;
}



/*******************
:::::::::::::::::::::::::::::::
Media :::::::***/


.grid-media_image{

    width: 40%;
    clear: none;
    float: left;
    padding: 2.5% 3%;


}
.grid-unit_media_last{
   width: 18%;
    clear: none;
    float: left;
    padding: 2.5% 4%;


}

.artical_media{
background:#849f36;
overflow:hidden;
display:block;
line-height:0px;
}


.image_contanier_media{
width:35%;
float:left;

}

.info_container_media{
width:61%;
float:left;
padding:2%;
color:#fff;
}
.info_container_media h1{
color:#fff;
margin-bottom:0px;
}


/*******************
:::::::::::::::::::::::::::::::
Artical Career  :::::::***/

.grid-career_image{
    width: 44%;
    clear: none;
    float: left;
    padding: 2.5% 1.5%;
}

.artical_career{
background:#7b8ed0;
overflow:hidden;
display:block;
line-height:0px;
}

.image_contanier_career{
width:60%;
float:left;

}

.info_container_career{
width:36%;
float:left;

color:#fff;
}

.info_matter_career{
padding:6%;
line-height:36px;
}

.grid-unit_carrer{
width: 28%;
clear: none;
float: left;
padding: 2.5% 1.5%;

}

.grid-unit_carrer1{
width: 20%;
clear: none;
float: left;
padding: 2.5% 0% 2.5% 2%;

}


/*******************
:::::::::::::::::::::::::::::::
Artical Investors  :::::::***/

.grid-unit_investor_last{
   width:35%;
	clear:none;
	float:left;
	padding:2.5% 0% 0 5%;

}

.grid-investor_image{

    width: 45%;
    clear: none;
    float: left;
    padding: 2.5% 3%;


}

.Info_matter{

margin-bottom:0px;
font-size:13px;
line-height:18px;
color:#fff;
}

.articlal_investor{
background:#ff9952;

overflow:hidden;
display:block;
line-height:0px;

}

.image_conatiner_investor{
width:49%;
float:left;
margin-right:1%;
}

.info_conatiner_investor{
width:45%;
float:left;
padding:2%;
color:#fff;
background:#ff9952;

}

/******------------------******/



/*******************
:::::::::::::::::::::::::::::::
Artical Contact  :::::::***/

.grid-unit_contact_last{
   width:20%;
	clear:none;
	float:left;
	padding:2.5% 0% 0 3%

}

.grid-contact_image{

    width: 45%;
    clear: none;
    float: left;
    padding: 2.5% 3%;


}

.Info_matter{
display:block;
margin-bottom:0px;
font-size:13px;
line-height:18px;
color:#fff;
font-weight:normal;
text-transform:none;
}

.articlal_contact{
background:#2e82c5;

overflow:hidden;
display:block;
line-height:0px;
}

.image_conatiner_contact{
width:59%;
float:left;
margin-right:1%;
}

.info_conatiner_contact{
width:35%;
float:left;
padding:2%;
color:#fff;


}

/*-------:::::::::::::*****/

/*******************
:::::::::::::::::::::::::::::::
Artical Business  :::::::***/


.grid-unit_business_last{
   width:20%;
	clear:none;
	float:left;
	padding:2.5% 0% 0 3%

}

.grid-business_image{
    width: 45%;
    clear: none;
    float: left;
    padding: 2.5% 3%;
}

.articlal_business{
background:#2e82c5;
overflow:hidden;
display:block;
line-height:0px;

}

.image_conatiner_business{
width:59%;
float:left;
margin-right:1%;
}

.info_conatiner_business{
width:35%;
float:left;
padding:2%;
color:#fff;
}

/*-------:::::::::::::*****/
.history_of_taat_rhs h2{
color:#fff;
margin-left:5px;
margin-bottom:0px;
}

.dropdown_menu_sub{
	margin:0 auto;
	width:938px
}

.grid-unit1{
	width:18%;
	clear:none;
	float:left;
	padding:2.5% 2%;
}

.grid-unit_about_last{
	width:19%;
	clear:none;
	float:left;
	padding:2.5% 0% 0 2%;
}
.grid-unitlast{
	width:27%;
	clear:none;
	float:left;
	padding:2.5% 3% ;
}

.grid-unit{
	width:15%;
	clear:none;
	float:left;
	padding:2.5% 4% 2.5% 2%;
}

.COMMITMENT_grid-unit{
	width:30%;
	clear:none;
	float:left;
	padding:2.5% 0
}

.COMMITMENT_grid-unit2,.COMMITMENT_grid-unit3{
	width:22%;
	clear:none;
	float:left;
	padding:2.5% 0
}

.grid-unit1new{
	width:26%;
	clear:none;
	float:left;
	padding:2.5% 0
}

.grid-unit1new2{
	width:20%;
	clear:none;
	float:left;
	padding:2.5% 0
}

.careersgrid-unit{
	width:25%;
	clear:none;
	float:left;
	padding:2.5% 0
}

.careersgrid-unit2{
	width:35%;
	clear:none;
	float:left;
	padding:2.5% 0
}

.careersgrid-unit3{
	width:40%;
	clear:none;
	float:left;
	padding:2.5% 0
}



.heading{
	color:#0173ba!important;
	font-size:12px!important;
	font-weight:400!important;
	padding:0!important;
	display:block!important
}

.heading a{
	color:#fff!important;
	font-size:14px!important;
	font-weight:600!important;
	padding:0!important;
	display:block!important;
	line-height:12px!important;
	margin:0 0 8px!important;
	text-decoration:none!important
}

.heading a:hover{
	text-decoration:none;
	border-bottom:0!important;
	color:#ddd!important;
	
}

.list_links_nav ul{
	margin:0 0 8px!important;
	list-style:none!important;
	float:none!important;
	padding:0!important
}

.list_links_nav ul li{
	font-size:14px!important;
	padding-left:0!important;
	color:#636466!important;
	display:block!important
}

.list_links_nav ul li a{
	font-size:12px!important;

	font-weight:400!important;
	text-transform:none!important;
	color:#fff!important;

	line-height:20px!important;
	text-decoration:none
}

.list_links_nav ul li a:hover{

	color:#ddd!important;
	
	text-decoration:none!important;
	border-bottom:0!important;
	margin-left:1px!important
}

.history_of_taat_rhs{
	margin-bottom:0;
	padding-bottom:5px!important;
	font-size:12px!important;
	text-transform:none!important;
	font-family:Arial,Helvetica,sans-serif!important
}

.history_of_taat_rhs a{
	background:#0d71ac!important;
	margin:0!important;
	padding:0!important;
	color:#fff!important;
	display:block!important;
	font-size:12px!important;
	text-transform:none!important;
	font-weight:400!important;
	font-family:Arial!important;
	font-family:Arial,Helvetica,sans-serif!important
}

.history_of_taat_rhs a img{
	display:block!important;

	max-width:100%!important
}

.history_of_taat_rhs a p{
	padding:2px 4px!important;
	color:#fff!important;
	line-height:17px!important;
	font-size:12px!important;
	font-family:Arial,Helvetica,sans-serif!important;
	font-weight:400!important
}

.history_of_taat_rhs a:hover{
	background:!important;
	display:block!important;
	text-decoration:none!important;
	border-bottom:0!important
}

.dropdown_menumobile_main{
	clear:both!important;
	float:none!important;
	margin:0!important;
	width:100%!important;
	z-index:1900!important;
	position:absolute!important;
	left:0!important;
	top:132px!important;
	border-bottom:#fff solid 2px;
	overflow:hidden!important;
	box-shadow:0 4px 5px -1px #636466;
	-moz-box-shadow:0 4px 5px -1px #636466;
	-webkit-box-shadow:0 4px 5px -1px #636466
}

.dropdown_menumobile_main ul{
	margin:0!important;
	padding:0!important;
	list-style:none!important
}

.dropdown_menumobile_main ul li{
	margin:0!important;
	padding:0;
	list-style:none;
	float:none
}

.dropdown_menumobile_main ul li a{
	display:block!important;
	background:#096fac!important;
	color:#fff!important;
	font-family:Arial,Helvetica,sans-serif!important;
	font-size:12px;
	font-weight:700!important;
	border-bottom:1px solid #fff;
	text-decoration:none!important;
	line-height:1.5em!important;
	padding:.9em .9em!important;
	-webkit-transition:background-color .3s ease-in;
	-moz-transition:background-color .3s ease-in;
	-ms-transition:background-color .3s ease-in;
	-o-transition:background-color .3s ease-in;
	transition:background-color .3s ease-in
}

.dropdown_menumobile_main ul li a:hover{
	background:#083047!important;
	-webkit-transition:background-color .08s ease-in;
	-moz-transition:background-color .08s ease-in;
	-ms-transition:background-color .08s ease-in;
	-o-transition:background-color .08s ease-in;
	transition:background-color .08s ease-in
}

.mob_dropdown_menu_sub{
	border-left:6px solid #083047!important
}

.mob_dropdown_menu_sub_section{
	background:#096fac!important;
	margin:0;
	display:block;
	font-size:1em
}

.mob_dropdown_menu_sub_section ul{
	margin:0;
	padding:0
}

.mob_dropdown_menu_sub_section ul li{
	margin:0;
	display:block
}

.mob_dropdown_menu_sub_section ul li a{
	display:block!important;
	background:#1570a6!important;
	color:#f2f0f0!important;
	font-family:Arial,Helvetica,sans-serif!important;
	font-size:12px!important;
	border-bottom:1px solid #fff!important;
	text-decoration:none!important;
	line-height:1.5em!important;
	padding:.5em .8em!important;
	-webkit-transition:background-color .3s ease-in;
	-moz-transition:background-color .3s ease-in;
	-ms-transition:background-color .3s ease-in;
	-o-transition:background-color .3s ease-in;
	transition:background-color .3s ease-in
}



.list_links_nav ul li {
	float:none;
	min-height:20px;
}



.grid-unit_media{
	width:15%;
	clear:none;
	float:left;
	padding:2.5% 0
}


.grid-unit_media1{
	width:23%;
	clear:none;
	float:left;
	padding:2.5% 0 2.5% 2%
}


.grid-unit_media_side{
	width: 27%;
	clear: none;
	float: left;
	padding: 2.5% 2% 0;
}


.tata_review_rhs{
	 margin:0px;
	 padding:0px;
}


.tata_review_rhs a{
	 margin:0px;
	 padding:0px;
	 text-decoration:none !important;
	 font-size:12px !important;
	 color:#666666 !important;
	 line-height:17px !important;
	 text-transform:none !important;
}


.tata_review_rhs a img{
	 width:110px ;
	 float:left ;
	 padding-right:8px !important;
}


.tata_review_rhs a:hover{
	 text-decoration:none !important;
	 color:#0173ba !important;
}





@media (min-width:1200px){
	
 .history_of_taat_rhs{
		margin-bottom:0;
		padding-bottom:10px
	}

	.heading{
		color:#0173ba!important;
		font-size:14px!important;
		font-weight:400!important;
		padding:0!important;
		display:block!important
	}

	.heading a{
		color:#fff!important;
		font-size:14px!important;
		font-weight:600!important;
		padding:0!important;
		display:block!important;
		line-height:12px!important;
		margin:0 0 8px!important;
		text-decoration:none!important
	}

	
.tata_review_rhs a{
		 margin:0px;
		 padding:0px;
		 text-decoration:none;
		 font-size:14px;
		 color:#666666;
		 line-height:18px;
	}

	
.tata_review_rhs a img{
		 width:133px;
		 float:left;
		 padding-right:8px;
	 }
	 
	 

}

/*********** ::::::::::::::::::::::
------ Media Query For Tablete---------------
**********/

@media(max-width: 1200px){
.grid-business_image{
    width: 48%;
}


.grid-career_image{
    width: 50%;
    clear: none;
    float: left;
    padding: 2.5% 1.5%;
}




.grid-unit_carrer{
width: 18%;
clear: none;
float: left;
padding: 2.5% 3% 2.5% 4%;

}

.grid-unit_carrer1{
width: 18%;
clear: none;
float: left;
padding: 2.5% 0% 2.5% 2%;

}


.info_matter_career{
padding:2% 4%;
}




}



@media (min-width:768px) and (max-width:979px){
	
	.heading{
		color:#0173ba;
		font-size:12px!important;
		font-weight:400;
		padding:0;
		display:block
	}

	.heading a{
		color:#0173ba;
		font-size:12px!important;
		font-weight:400;
		padding:0;
		display:block;
		line-height:1.25;
		margin:0 0 1.1em;
		text-decoration:none
	}

	.heading a:hover{
		text-decoration:none
	}

	.list_links_nav ul{
		margin:0 0 25px;
		list-style:none
	}

	.list_links_nav ul li{
		font-size:12px!important;
		color:#636466
	}

	.list_links_nav ul li a{
		font-size:12px!important;
		
		color:#636466;
		
		line-height:20px!important;
		text-decoration:none
	}

	.list_links_nav ul li a:hover{
		font-size:12px!important;
		color:#0173ba;
		
		text-decoration:none
	}

	.history_of_taat_rhs{
		margin-bottom:0;
		padding-bottom:26px
	}

	.history_of_taat_rhs a{
		font-size:11px;
		background:#0d71ac;
		margin:0;
		padding:0;
		color:#fff;
		display:block
	}

	.grid-unitlast{
		width:22%;
		clear:none;
		float:left;
		padding:5% 1% 0
	}

	

.tata_review_rhs a{
		 margin:0px;
		 padding:0px;
		 text-decoration:none;
		 font-size:12px;
		 color:#666666;
		 line-height:17px;
	}

	
.tata_review_rhs a img{
		 width:80px;
		 float:left;
		 padding-right:6px;
	}

	/** ::::::::::::::::::::::::::::::::::
	:::::::::::::::::::::::::::::::::::::::::::
	New Media Query for new top navbar::::****/
	
.grid-unit {
    width: 23%;
    clear: none;
    float: left;
    padding: 2.5% 0px;
}

.grid-unit1 {
    width: 23.2%;
    clear: none;
    float: left;
    padding: 2.5% 0px 2.5% 2%;
}

.grid-unit_about_last{
    width: 23.2%;
    clear: none;
    float: left;
    padding: 2.5% 0px 2.5% 2%;
}


.grid-unitlast {
    width: 21%;
    clear: none;
    float: left;
    padding: 2.5% 2% 0px;
}	



.grid-sustainability_image{
    width: 60%;
}

.info_container_media h1{
line-height:20px;
margin-top:0px;
font-size:18px;
}
/*** Career Area media ***/

.grid-career_image{
    width: 28%;
    clear: none;
    float: left;
    padding: 2.5% 3%;
}

.grid-unit_carrer{
width: 34%;
clear: none;
float: left;
padding: 2.5% 3% 2.5% 2%;

}

.grid-unit_carrer1{
width: 20%;
clear: none;
float: left;
padding: 2.5% 0% 2.5% 2%;

}


/** Artical Investors **/

.image_conatiner_investor{
width:48%;
float:left;
margin-right:1%;
}

.info_conatiner_investor{
width:47%;
float:left;
padding:0% 2%;
color:#fff;
background:#ff9952;

}

/*** Artical Contact ****/


.grid-contact_image{
    width: 55%;
    clear: none;
    float: left;
    padding: 2.5% 3%;
}
/** Artical 	Business ***/

.grid-business_image{
    width: 65%;

}


/** Artical Career ***/



.info_matter_career{
padding:1%;
line-height:20px;
}


.grid-career_image{
    width: 53%;
    clear: none;
    float: left;
    padding: 2.5% 1.5%;
}




.grid-unit_carrer{
width: 18%;
clear: none;
float: left;
padding: 2.5% 2% 2.5% 2%;

}

.grid-unit_carrer1{
width: 18%;
clear: none;
float: left;
padding: 2.5% 0% 2.5% 2%;

}



.artical_career{
background:#b9bec1;
overflow:hidden;
display:block;
line-height:0px;
}

.image_contanier_career{
width:60%;
float:left;

}

.info_container_career{
width:36%;
float:left;

color:#fff;
line-height:10px;
}


.info_matter_career{
line-height:13px;
padding:2%;
}



 
}

/** New Parts ***/
@media(max-width:767px ){
.dropdown_menu_main{background:#f6f6f6;width:100%;border-bottom:#0173ba solid 5px;padding:0;position:absolute;left:0;overflow:hidden;box-shadow:0 4px 5px -1px #636466;-moz-box-shadow:0 4px 5px -1px #636466;-webkit-box-shadow:0 4px 5px -1px #636466;z-index:99999;}


.dropdown_menu_sub{margin:0 auto;width:938px}.grid-unit1{width:23.2%;clear:none;float:left;padding:2.5% 0 2.5% 2%}.grid-unitlast{width:21%;clear:none;float:left;padding:2.5% 2% 0}.grid-unit{width:23%;clear:none;float:left;padding:2.5% 0}.COMMITMENT_grid-unit{width:30%;clear:none;float:left;padding:2.5% 0}.COMMITMENT_grid-unit2,.COMMITMENT_grid-unit3{width:22%;clear:none;float:left;padding:2.5% 0}.grid-unit1new{width:26%;clear:none;float:left;padding:2.5% 0}.grid-unit1new2{width:20%;clear:none;float:left;padding:2.5% 0}.careersgrid-unit{width:25%;clear:none;float:left;padding:2.5% 0}.careersgrid-unit2{width:35%;clear:none;float:left;padding:2.5% 0}.careersgrid-unit3{width:40%;clear:none;float:left;padding:2.5% 0}.grid_othercolor{background:#fafafa!important;border-left:#eee solid 1px!important}.heading{color:#0173ba!important;font-size:12px!important;font-weight:400!important;padding:0!important;display:block!important}.heading a{color:#0173ba!important;font-size:12px!important;font-weight:400!important;padding:0!important;display:block!important;line-height:1.25!important;margin:0 0 1.15em!important;text-decoration:none!important}.heading a:hover{text-decoration:none;border-bottom:0!important;color:#005580!important}.list_links_nav ul{margin:0 0 25px!important;list-style:none!important;float:none!important;padding:0!important}.list_links_nav ul li{font-size:14px!important;padding-left:0!important;color:#636466!important;display:block!important}.list_links_nav ul li a{font-size:14px!important;padding-left:20px!important;font-weight:400!important;text-transform:none!important;color:#636466!important;background:url(../images/liststyle_new.jpg) no-repeat!important;line-height:22px!important;text-decoration:none}.list_links_nav ul li a:hover{font-size:14px!important;color:#0173ba!important;background:url(../images/h_liststyle_new.jpg) no-repeat!important;text-decoration:none!important;border-bottom:0!important;margin-left:1px!important}.history_of_taat_rhs{margin-bottom:0;padding-bottom:5px!important;font-size:12px!important;text-transform:none!important;font-family:Arial,Helvetica,sans-serif!important}.history_of_taat_rhs a{background:#0d71ac!important;margin:0!important;padding:0!important;color:#fff!important;display:block!important;font-size:12px!important;text-transform:none!important;font-weight:400!important;font-family:Arial!important;font-family:Arial,Helvetica,sans-serif!important}.history_of_taat_rhs a img{display:block!important;width:100%!important;max-width:100%!important}.history_of_taat_rhs a p{padding:2px 4px!important;color:#fff!important;line-height:17px!important;font-size:12px!important;font-family:Arial,Helvetica,sans-serif!important;font-weight:400!important}.history_of_taat_rhs a:hover{background:#595858!important;display:block!important;text-decoration:none!important;border-bottom:0!important}.dropdown_menumobile_main{clear:both!important;float:none!important;margin:0!important;width:100%!important;z-index:1900!important;position:absolute!important;left:0!important;top:132px!important;border-bottom:#fff solid 2px;overflow:hidden!important;box-shadow:0 4px 5px -1px #636466;-moz-box-shadow:0 4px 5px -1px #636466;-webkit-box-shadow:0 4px 5px -1px #636466}.dropdown_menumobile_main ul{margin:0!important;padding:0!important;list-style:none!important}.dropdown_menumobile_main ul li{margin:0!important;padding:0;list-style:none;float:none}.dropdown_menumobile_main ul li a{display:block!important;background:#096fac!important;color:#fff!important;font-family:Arial,Helvetica,sans-serif!important;font-size:12px;font-weight:700!important;border-bottom:1px solid #fff;text-decoration:none!important;line-height:1.5em!important;padding:.9em .9em!important;-webkit-transition:background-color .3s ease-in;-moz-transition:background-color .3s ease-in;-ms-transition:background-color .3s ease-in;-o-transition:background-color .3s ease-in;transition:background-color .3s ease-in}.dropdown_menumobile_main ul li a:hover{background:#083047!important;-webkit-transition:background-color .08s ease-in;-moz-transition:background-color .08s ease-in;-ms-transition:background-color .08s ease-in;-o-transition:background-color .08s ease-in;transition:background-color .08s ease-in}.mob_dropdown_menu_sub{border-left:6px solid #083047!important}.mob_dropdown_menu_sub_section{background:#096fac!important;margin:0;display:block;font-size:1em}.mob_dropdown_menu_sub_section ul{margin:0;padding:0}.mob_dropdown_menu_sub_section ul li{margin:0;display:block}.mob_dropdown_menu_sub_section ul li a{display:block!important;background:#1570a6!important;color:#f2f0f0!important;font-family:Arial,Helvetica,sans-serif!important;font-size:12px!important;border-bottom:1px solid #fff!important;text-decoration:none!important;line-height:1.5em!important;padding:.5em .8em!important;-webkit-transition:background-color .3s ease-in;-moz-transition:background-color .3s ease-in;-ms-transition:background-color .3s ease-in;-o-transition:background-color .3s ease-in;transition:background-color .3s ease-in}

.list_links_nav ul li {float:none; min-height:20px;}

.grid-unit_media{width:15%;clear:none;float:left;padding:2.5% 0}
.grid-unit_media1{width:23%;clear:none;float:left;padding:2.5% 0 2.5% 2%}
.grid-unit_media_side{width: 27%;clear: none;float: left;padding: 2.5% 2% 0;}
.tata_review_rhs{ margin:0px; padding:0px;}
.tata_review_rhs a{ margin:0px; padding:0px; text-decoration:none !important; font-size:12px !important; color:#666666 !important; line-height:17px !important; text-transform:none !important;}
.tata_review_rhs a img{ width:110px ; float:left ; padding-right:8px !important;}
.tata_review_rhs a:hover{ text-decoration:none !important; color:#0173ba !important;}



@media (min-width:1200px){
 .history_of_taat_rhs{margin-bottom:0;padding-bottom:10px}.heading{color:#0173ba!important;font-size:14px!important;font-weight:400!important;padding:0!important;display:block!important}.heading a{color:#0173ba!important;font-size:14px!important;font-weight:400!important;padding:0!important;display:block!important;line-height:1.25!important;margin:0 0 1.15em!important;text-decoration:none!important}
.tata_review_rhs a{ margin:0px; padding:0px; text-decoration:none; font-size:14px; color:#666666; line-height:18px;}
.tata_review_rhs a img{ width:133px; float:left; padding-right:8px; }
}

@media (min-width:768px) and (max-width:979px){
	.heading{color:#0173ba;font-size:12px!important;font-weight:400;padding:0;display:block}.heading a{color:#0173ba;font-size:12px!important;font-weight:400;padding:0;display:block;line-height:1.25;margin:0 0 1.1em;text-decoration:none}.heading a:hover{text-decoration:none}.list_links_nav ul{margin:0 0 25px;list-style:none}.list_links_nav ul li{font-size:12px!important;color:#636466}.list_links_nav ul li a{font-size:12px!important;padding-left:16px;color:#636466;background:url(../images/liststyle_new.jpg) no-repeat;line-height:20px!important;text-decoration:none}.list_links_nav ul li a:hover{font-size:12px!important;color:#0173ba;background:url(../images/h_liststyle_new.jpg) no-repeat;text-decoration:none}.history_of_taat_rhs{margin-bottom:0;padding-bottom:26px}.history_of_taat_rhs a{font-size:11px;background:#0d71ac;margin:0;padding:0;color:#fff;display:block}.grid-unitlast{width:22%;clear:none;float:left;padding:5% 1% 0}

.tata_review_rhs a{ margin:0px; padding:0px; text-decoration:none; font-size:12px; color:#666666; line-height:17px;}
.tata_review_rhs a img{ width:80px; float:left; padding-right:6px;}
	
 }



}
/** New Part Ends Here**/

