/*------service tabs----------*/
.creative-section { padding: 30px 0 10px !important; }
.service-tab {background: #ffffff none repeat scroll 0 0;}
.creative-section h3 { color: #e92525 !important; font-weight: 700 !important; margin-bottom: 40px !important; margin-top: 20px !important; position: relative !important; }
.creative-section h3::after { background-color: #e92525 !important; bottom: -16px !important; content: "" !important; height: 2px !important; left: 0 !important; position: absolute !important; width: 10% !important; }
.service-tab .tab-content { background: #efefef; }
.service-tab .tab-content a.rv-button { margin-top: 15px; }
.service-tab .nav-tabs { border-bottom: 0; }
.service-tab li { margin: 0 18px; padding: 0; position: relative; text-align: center; }
.service-tab li > a { background-color: #e92525; border: 0; border-radius: 0; color: #333; padding: 20px; width: 100%; }
.service-tab .nav-tabs>li.active>a, .service-tab .nav-tabs>li.active>a:focus, .service-tab .nav-tabs>li.active>a:hover { background-color: #efefef; border: 0; }
.service-tab .nav-tabs.nav-justified>li>a { border: 0; border-radius: 0; }
.service-tab .nav-tabs.nav-justified>.active>a, .service-tab .nav-tabs.nav-justified>.active>a:focus, .service-tab .nav-tabs.nav-justified>.active>a:hover { border: 0; }
.service-tab li:first-child { }
.service-tab li i:before { color: #202020; font-size: 30px; }
.service-tab li.active i:before, .service-tab li:hover i:before { color: #ff2a40; }
.service-tab li span { color: #eee; display: block; font-size: 16px; }
.service-tab .tab-content .tab-pane .container { padding-top: 10px; padding-bottom: 10px; }
.service-tab li.active:after, .service-tab li:hover:after { bottom: 0; content: ""; left: 0; position: absolute; width: 100%; }
.tab-inner-img { padding-top: 20px 0; text-align: center; margin: 20px 0; }
.tab-inner-img img { width: 70%; display: inline-block; }
.service-tab .tab-content p { color: #333; line-height: 24px; text-align: justify; }
.service-tab .tab-content .tab-pane { position: relative; margin: 0 !important; }
.service-tab .nav-tabs > li > a span img { display: inline-block; text-align: center; }
.service-tab .nav-tabs > li > a span.txt { padding-top: 5px; }
.service-tab .nav-tabs>li a span.logo { width: 40px; height: 40px; display: inline-block; background-repeat: no-repeat; background-position: 0 0; }
.service-tab .nav-tabs>li.active>a span { color: #333; }
.service-tab .nav-tabs > li:hover > a span.txt { color: #000; }

/*------web development----------*/
.web-43 { background-image: url(../../assets/images/icons/php.png); }
.service-tab .nav-tabs > li:hover .web-43 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-43 { background-position: 0 -40px; }
.web-49 { background-image: url(../../assets/images/icons/asp.png); }
.service-tab .nav-tabs > li:hover .web-49 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-49 { background-position: 0 -40px; }
.web-50 { background-image: url(../../assets/images/icons/python.png); }
.service-tab .nav-tabs > li:hover .web-50 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-50 { background-position: 0 -40px; }
.web-51 { background-image: url(../../assets/images/icons/ruby_on_rails.png); }
.service-tab .nav-tabs > li:hover .web-51 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-51 { background-position: 0 -40px; }
.web-52 { background-image: url(../../assets/images/icons/java.png); }
.service-tab .nav-tabs > li:hover .web-52 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-52 { background-position: 0 -40px; }

/*------web design----------*/
.web-3 { background-image: url(../../assets/images/icons/logo_design.png); }
.service-tab .nav-tabs > li:hover .web-3 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-3 { background-position: 0 -40px; }
.web-4 { background-image: url(../../assets/images/icons/graphic_design.png); }
.service-tab .nav-tabs > li:hover .web-4 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-4 { background-position: 0 -40px; }
.web-5 { background-image: url(../../assets/images/icons/responsive_design.png); }
.service-tab .nav-tabs > li:hover .web-5 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-5 { background-position: 0 -40px; }
.web-7 { background-image: url(../../assets/images/icons/parallax_design.png); }
.service-tab .nav-tabs > li:hover .web-7 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-7 { background-position: 0 -40px; }
.web-32 { background-image: url(../../assets/images/icons/landing_page.png); }
.service-tab .nav-tabs > li:hover .web-32 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-32 { background-position: 0 -40px; }

/*------digital marketing----------*/
.web-8 { background-image: url(../../assets/images/icons/seo.png); }
.service-tab .nav-tabs > li:hover .web-8 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-8 { background-position: 0 -40px; }
.web-10 { background-image: url(../../assets/images/icons/smo.png); }
.service-tab .nav-tabs > li:hover .web-10 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-10 { background-position: 0 -40px; }
.web-11 { background-image: url(../../assets/images/icons/ppc.png); }
.service-tab .nav-tabs > li:hover .web-11 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-11 { background-position: 0 -40px; }
.web-12 { background-image: url(../../assets/images/icons/orm.png); }
.service-tab .nav-tabs > li:hover .web-12 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-12 { background-position: 0 -40px; }
.web-14 { background-image: url(../../assets/images/icons/cwm.png); }
.service-tab .nav-tabs > li:hover .web-14 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-14 { background-position: 0 -40px; }

/*------Mobile App Development----------*/
.web-9 { background-image: url(../../assets/images/icons/iphone.png); }
.service-tab .nav-tabs > li:hover .web-9 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-9 { background-position: 0 -40px; }
.web-13 { background-image: url(../../assets/images/icons/android.png); }
.service-tab .nav-tabs > li:hover .web-13 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-13 { background-position: 0 -40px; }
.web-18 { background-image: url(../../assets/images/icons/ipad.png); }
.service-tab .nav-tabs > li:hover .web-18 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-18 { background-position: 0 -40px; }
.web-15 { background-image: url(../../assets/images/icons/windows.png); }
.service-tab .nav-tabs > li:hover .web-15 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-15 { background-position: 0 -40px; }
.web-53 { background-image: url(../../assets/images/icons/games.png); }
.service-tab .nav-tabs > li:hover .web-53 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-53 { background-position: 0 -40px; }

/*------CMS Development----------*/
.web-16 { background-image: url(../../assets/images/icons/wordpress.png); }
.service-tab .nav-tabs > li:hover .web-16 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-16 { background-position: 0 -40px; }
.web-17 { background-image: url(../../assets/images/icons/joomla.png); }
.service-tab .nav-tabs > li:hover .web-17 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-17 { background-position: 0 -40px; }
.web-19 { background-image: url(../../assets/images/icons/drupal.png); }
.service-tab .nav-tabs > li:hover .web-19 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-19 { background-position: 0 -40px; }
.web-48 { background-image: url(../../assets/images/icons/squarespace.png); }
.service-tab .nav-tabs > li:hover .web-48 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-48 { background-position: 0 -40px; }

/*------Frameworks Development----------*/
.web-34 { background-image: url(../../assets/images/icons/laravel.png); }
.service-tab .nav-tabs > li:hover .web-34 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-34 { background-position: 0 -40px; }
.web-54 { background-image: url(../../assets/images/icons/cakephp.png); }
.service-tab .nav-tabs > li:hover .web-54 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-54 { background-position: 0 -40px; }
.web-55 { background-image: url(../../assets/images/icons/codeigniter.png); }
.service-tab .nav-tabs > li:hover .web-55 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-55 { background-position: 0 -40px; }
.web-56 { background-image: url(../../assets/images/icons/yii.png); }
.service-tab .nav-tabs > li:hover .web-56 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-56 { background-position: 0 -40px; }
.web-57 { background-image: url(../../assets/images/icons/symfony.png); }
.service-tab .nav-tabs > li:hover .web-57 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-57 { background-position: 0 -40px; }

/*------Ecommerce Development----------*/
.web-23 { background-image: url(../../assets/images/icons/magento.png); }
.service-tab .nav-tabs > li:hover .web-23 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-23 { background-position: 0 -40px; }
.web-27 { background-image: url(../../assets/images/icons/shopify.png); }
.service-tab .nav-tabs > li:hover .web-27 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-27 { background-position: 0 -40px; }
.web-28 { background-image: url(../../assets/images/icons/prestashop.png); }
.service-tab .nav-tabs > li:hover .web-28 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-28 { background-position: 0 -40px; }
.web-36 { background-image: url(../../assets/images/icons/opencart.png); }
.service-tab .nav-tabs > li:hover .web-36 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-36 { background-position: 0 -40px; }
.web-58 { background-image: url(../../assets/images/icons/bigcommerce.png); }
.service-tab .nav-tabs > li:hover .web-58 { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .web-58 { background-position: 0 -40px; }

/*------Internet of Things & Quality Assurance Services----------*/
.iot { background-image: url(../../assets/images/icons/iot.png); }
.service-tab .nav-tabs > li:hover .iot { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .iot { background-position: 0 -40px; }
.quality { background-image: url(../../assets/images/icons/quality.png); }
.service-tab .nav-tabs > li:hover .quality { background-position: 0 -40px; }
.service-tab .nav-tabs > li.active .quality { background-position: 0 -40px; }

.service-tab, .icon-column { position: relative; }
.service-tab .nav-tabs > li > a span, .text-center, .icon-column .text-center .text { text-align: center; }
.service-tab .nav-tabs > li > a span.txt {height: 27px; overflow: hidden;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{cursor: pointer;}

/*------hire us----------*/
.hire-continer-part { display: block; padding: 30px 0 0 0; }
.hire-continer-part ul { display: inline-block; list-style-type: none; }
.hire-continer-part ul li { color: #2e3234; display: inline-block; font-size: 13px; font-weight: 600; min-width: 180px; text-align: center; line-height: 20px;}
.hire-continer-part ul li img { padding-right: 10px; }
.hire-continer-part ul li .hire-hover { overflow: hidden; padding-top: 19px; transition: all 0.5s ease-in 0s; }
.hire-continer-part ul li .hire-hover:hover { padding-top: 0; }

.auto-container { margin: 0 auto; max-width: 1200px; padding: 0 15px; position: static; }
.
.hire-us h3 { font-size: 16px !important; font-weight: 700 !important; margin: 10px 0 !important; text-transform: uppercase !important; }
.hire-us .text-center.wow h4 {
  color: #c51a1d !important;
  display: inline-block !important;
  font-size: 36px !important;
  margin-bottom: 0 !important;
  padding: 8px 10px !important;
}
.hire-us .text { margin-bottom: 50px; }
.hire-us .info-bar { display: inline-block; margin-top: -20px; position: relative; }
.hire-us .info-bar .text-box { color: rgb(255,255,255); display: inline-block; font-size: 24px; font-weight: 400; letter-spacing: 1px; line-height: 32px; padding: 10px 20px; position: relative; text-align: center; }
.hire-us .info-bar .text-box .icon { color: rgb(119,200,108); font-size: 24px; padding-right: 20px; position: relative; }
.hire-us { position: relative; text-align: center; }

/* Testimonials */
#testimonials { }
.testimonials { padding-bottom: 40px; overflow: hidden; }
.testimonials .avatar a img { -webkit-border-radius: 45px; -moz-border-radius: 45px; border-radius: 45px; border: 2px solid #444; max-width: 120%; margin: 10px 0 0 20px; }
.testimonials h1 { font-size: 1.7em; margin: 55px 0 0 0; }
.testimonials .row > div > hr { margin: 20px 0 50px 0; }
.testimonials .review:before { background:transparent url(../images/other/quote2.png) no-repeat; content: " "; width: 29px; height: 35px; position: absolute; bottom: 30px; left: 16px; }
.testimonials .mouseover:before { background: transparent url(../../images/quote.png) no-repeat; }
.testimonials .review { margin-left: 30px; background: #444; color: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 15px; }
.testimonials .review .info { display: block; padding-bottom: 22px; }
.testimonials .mouseover { background: #f05733; }
.testimonials .mouseover .avatar a img { border: 2px solid #f05733; }
.testimonials .items .rows { display: none; }
.testimonials .items .i0 { display: block; }
.testimonials .items p { padding: 0 10px; font-size: 13px; color: #fff; min-height: 110px; line-height: 22px;}
.testimonials .items.testimonials .pagination { clear: both; width: 100%; }
.testimonials .pagination ul, .testimonials .pagination { display: block; text-align: center; width: 100%; margin: 0 auto; clear: both; padding-top: 20px; }
.testimonials .pagination ul li { display: inline-block; margin: 0 5px; }
.testimonials .pagination ul li a { text-decoration: none; }
.testimonials .info a { color: #bee4e1; position: relative; }
.testimonials .mouseover .info a { color: #fbcdc2; }
.testimonials .info span { float: right; color: #ccc; }

.info-bar .text-box a.btn-readmore {
  font-size: 18px;
  padding: 8px 25px;
}
